---
BasedOnStyle: llvm
# Perfer 100 limit, but clang-format sometimes wraps in strange places
ColumnLimit: 0
BinPackArguments: false
IndentWidth: 4
IndentCaseLabels: true
AllowShortFunctionsOnASingleLine: None
KeepEmptyLinesAtTheStartOfBlocks: false
AlignTrailingComments: false
AlignOperands: false
...
